html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
}

header {
  background-color: #f80000;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  height: 6.4rem;
}

.logo {
  width: 9.6rem;
  height: 9.6rem;
}

nav {
  margin-left: auto;
}

nav button {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #f80000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

nav button:hover {
  background-color: #f80000;
  color: #fff;
}

main {
  text-align: center;
}

/* hero */

.hero {
  position: relative;
  width: 100vw;
  padding: 10rem;
  height: 32rem;
  text-align: center;
  color: #fff;
  background-image: url("/picture/03b08cc53be0cfe56b5d6ecde0332df4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
  margin-right: 100rem;
  font-family: Arial, sans-serif;
}

.hero p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  margin-right: 100rem;
  font-family: Arial, sans-serif;
}

.hero .cta-button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  background-color: #f80000;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 1.6rem;
  margin-right: 100rem;
}

/* product-section & product-grid */

.product-section {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
}

.product-info {
  margin-bottom: 2rem;
  font-family: Arial, sans-serif;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem; 
}

.product-item {
  flex: 0 0 calc(25% - 1.6rem); 
  display: flex;
  justify-content: center;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-wrapper .product-image {
  margin-bottom: 2rem;
  margin-right: 30rem; 
  align-self: flex-start; 
}

.product-wrapper .product-info {
  font-size: 3rem;
  flex: content;
}

.product-wrapper .cta-button {
  display: inline-block;
  padding: 1rem 2.4rem;
  background-color: #f80000;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  margin-left: auto; 
  margin-right: 5rem;
}

/* product-gaaf */

.product-gaaf {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
}

.product-info2 {
  margin-bottom: 2rem;
  margin-top: 17.5rem;
  margin-left: 10rem;
  font-family: Arial, sans-serif;
  font-size: 2.1rem;
}

.product-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product-image2 {
  order: 2;
  margin-bottom: 2rem;
  margin-left: 22rem; 
  align-self: flex-start;
  font-size: 3rem;
  flex: content;
  position: relative;
}

.product-image2 img {
  border: 4px solid #f80000;
  border-radius: 0.4rem;
  padding: 0.1rem;
}

.product-details2 {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem; 
}

/* Footer Styles */

footer {
  background-color: #f80000;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-logo {
  width: 6rem;
  height: 6rem;
}

.footer-text {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.footer-links {
  margin-bottom: 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #2a0303;
}

.footer-copyright {
  font-size: 1rem;
  margin-top: 2rem;
}


/*reviews*/

.reviews-section {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
}

.reviews-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.review-box {
  border: 0.4rem solid #f80000;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  width: 30rem;
  height: 33rem; 
  display: inline-block;
  text-align: center;
}

.review-box img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.review-header .avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review-header h3.username {
  font-size: 1.4rem;
  margin: 0;
}

.review-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

/*cards*/

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 0 30rem; 
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #e1dede; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  max-width: 100%;
  max-height: 15rem; 
  object-fit: contain;
  border-radius: 0.4rem;
}

.card h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.card p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
